body
{
    font-family: 'Raleway', sans-serif;

}
.ombre
{
    box-shadow: 3px 3px 3px #D6D6D6;
}
/* En tête */
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#navigation a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 2rem;
    color: #0065FC;
}
#navigation a
{
    padding: 1rem;
    text-decoration: none;
}
#inscription
{
    font-weight: bold;
    color: #0065FC;
}
.bouttonnav
{
    color: black;
}
/* Section 1 */
#ville
{
    padding: 1rem;
    border: 2px solid #f2f2f2;
    font-size: 0.9em;
    font-weight: bold;
}
#indic
{
    padding: 1rem;
    background-color: #f2f2f2;
    border-top: #f2f2f2 solid 1px;
    border-bottom: #f2f2f2 solid 3px;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-right: -6px;
}
#bouton
{
    font-size: 1em;
    padding: 1rem;
    background-color: #0065FC;
    color: white;
    border: 1px solid white;
    border-radius: 0 0.5rem 0.5rem 0;
    margin-left: -6px;
    font-weight: bold;
}
[type="checkbox"]
{
    opacity: 0;
}
label
{
    padding: 0px;
    border: solid #f2f2f2;
    border-radius: 10rem;
}
#filtres
{
    display: flex;
    align-items: baseline;
}
#nomfil
{
    font-weight: bold;
}
.fil
{
    font-weight: bold;
    padding-right: 1rem;
}
.fil:hover
{
    background-color: #deebff ;
}
#billet
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 1rem;
}
#enfant
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 1rem;
}
#coeur
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 1rem;
}
#chien
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 1rem;
}
#imgi
{
    color: #0065FC;
    margin-right: 0.8em;
    border: solid 2px #f2f2f2;
    padding: 0.3em 0.6em 0.3em 0.6em;
    border-radius: 100%;
}
/* partie hébergements */
#hebergements
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    max-height: 60em;
}
#lieu
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    gap: 1em;
    background-color: #f2f2f2;
    border-radius: 2em;
    grid-column: 1;
    padding: 1em 2em 1em 2em;
}
.afficherplus
{
    width: 100%;
    margin-right: 80%;
}
.afficherplus p
{
    font-weight: bold;
}
.marseille
{
    grid-column: 1/4;
    grid-row: 1;
}
#chambre1
{
    background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre1
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chambre2
{
    background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre2
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chambre3
{
    background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre3
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chambre4
{
    background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre4
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chambre5
{
    background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre5
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#chambre6
{
    background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') no-repeat;
    width: 20em;
    height: 18em;
    border-radius: 1.5em;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    position: relative;
}
#banniere_chambre6
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 97%;
    max-height: 38%;
    border-bottom: solid white 5px;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.banniere_chambre h2, .banniere_chambre p
{
    margin-top: 1%;
    height: 0.4em;
    margin-left: 1%;
    color: black;
}
.banniere_chambre i
{
    color: #0065FC;
    margin-left: 1%;
}

/* partie populaire */

#populaire
{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    background-color: #f2f2f2;
    padding: 1em 2em 1em 2em;
    border-radius: 30px;
}
#populaire1
{
    background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') no-repeat;
    width: 30em;
    height: 11em;
    border-radius: 20px;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-bottom: solid white 5px;
    position: relative;
}
#banniere_populaire1
{
    position: absolute;
    right: 0;
    background-color: white;
    width: 20em;
    height: 11em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 1%;
}
#populaire2
{
    background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') no-repeat;
    width: 30em;
    height: 11em;
    border-radius: 20px;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-bottom: solid white 5px;
    position: relative;
}
#banniere_populaire2
{
    position: absolute;
    right: 0;
    background-color: white;
    width: 20em;
    height: 11em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 1%;
}
#populaire3
{
    background: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') no-repeat;
    width: 30em;
    height: 11em;
    border-radius: 20px;
    position: relative;
    border-top: solid white 5px;
    border-left: solid white 5px;
    border-bottom: solid white 5px;
    position: relative;
}
#banniere_populaire3
{
    position: absolute;
    right: 0;
    background-color: white;
    width: 20em;
    height: 11em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 1%;
}
.banniere_populaire h2
{
    color: black;
}
#banniere_populaire1 p, #banniere_populaire3 p
{
    color: black;
    margin: -5% 0 24% 0;
}
#banniere_populaire2 p
{
    color: black;
    margin: -5% 0 15% 0;
}
.banniere_populaire i
{
    color: #0065FC;
}
/* Section activités */
#activites
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(13, 1fr);
    gap: 1em;
    grid-gap: 1em;
    max-height: 40em;
    margin: 2em 0 2em 0;
    border-radius: 2em;
    padding: 0 2em 0 2em;
}
#activites h2
{
    color: black;
    padding: 0.8em 0 0.8em 0.8em;
}
#activites h1
{
    grid-column: 1/5;
    grid-row: 1;
}
#act1
{
    grid-column: 1;
    grid-row: 2/14;
}
#act2
{
    grid-column: 2;
    grid-row: 2/9;
}
#act3
{
    grid-column: 2;
    grid-row: 9/14;
}
#act4
{
    grid-column: 3;
    grid-row: 2/14;
}
#act5
{
    grid-column: 4;
    grid-row: 2/8;
}
#act6
{
    grid-column: 4;
    grid-row: 8/14;
}
#activite1
{
    background: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') no-repeat;
    width: 25em;
    height: 33em;
    border-radius: 1.5em;
    position: relative;
}
#activite1 h2
{
    position: absolute;
    bottom: -0.5em;
    background-color: white;
    width: 93%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#activite2
{
    background: url('images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg') no-repeat;
    width: 25em;
    height: 16em;
    border-radius: 1.5em;
    position: relative;
}
#activite2 h2
{
    position: absolute;
    bottom: -0.84em;
    background-color: white;
    width: 92.5%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#activite3
{
    background: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') no-repeat;
    width: 25em;
    height: 12em;
    border-radius: 1.5em;
    position: relative;
}
#activite3 h2
{
    position: absolute;
    bottom: -0.84em;
    background-color: white;
    width: 92.5%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#activite4
{
    background: url('images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') no-repeat;
    width: 25em;
    height: 32.8em;
    border-radius: 1.5em;
    position: relative;
}
#activite4 h2
{
    position: absolute;
    bottom: -0.9em;
    background-color: white;
    width: 92.5%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 3px #D6D6D6;
}
#activite5
{
    background: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') no-repeat;
    width: 25em;
    height: 15em;
    border-radius: 1.5em;
    position: relative;
}
#activite5 h2
{
    position: absolute;
    bottom: -0.84em;
    background-color: white;
    width: 92.7%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#activite6
{
    background: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') no-repeat;
    width: 25em;
    height: 15em;
    border-radius: 1.5em;
    position: relative;
}
#activite6 h2
{
    position: absolute;
    bottom: -0.84em;
    background-color: white;
    width: 92.7%;
    max-height: 30%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* Pied de page */
footer
{
    background-color: #f2f2f2;
    display: flex;
}
footer ul
{
    padding: 1em 15em 1em 3em;
    list-style: none;
}
footer li:hover
{
    text-decoration: underline;
}

/* Partie responsive */

@media (max-width: 1024px)
{
    #hebergement
    {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    #populaire
    {
        grid-row: 1;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-gap: 1em;
        gap: 1em;
    }
    #lieu
    {
        grid-row: 2;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }
    #recherche h1, #recherche p
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}